*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    height: 100vh;
}

.Cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.box-form{
    height: 60vh;
    width: 40vw;
    margin: 0 auto;
}

#submit:hover{
    border-radius: 30%;
    background-color: aquamarine;
}